/**,
*::before,
*::after {
  box-sizing: border-box;
}*/
h1 {
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

button {
  background-color: rgb(90, 5, 90);
  color: white;
  border: none;
  border-radius: 3px;
  margin: 5px;
}

button:hover {
  background-color: rgb(134, 70, 134);
}
/*html,
body,
{
  height: 100%;
  margin: 0;
  padding: 0;
}*/

nav {
  margin: 20px;
  justify-content: space-between;
}

#high-scores {
  float: left;
}

#time-left {
  float: right;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.quiz-container {
  padding: 100px 100px 100px 100px;
}

header {
  text-align: center;
  margin-bottom: 0;
  color: black;
}

div {
  margin: auto;
  width: 700px;
}

.question-container {
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

#questions {
  font-size: 15px;
}

ul {
  list-style: none;
}


#answers {
  padding: 5px;
  margin: 5px;

}

/*.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}*/

/*.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}*/

.btn {
 /* background-color: purple;
  background-color: rgb(62, 3, 62);
  border-radius: 25px;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  /*margin: 16px 16px 16px 20px;
  /*padding: 14px 34px;
  text-align: center;
  cursor: pointer;*/
}
/*
button[disabled] {
  cursor: default;
  background: purple;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}*/

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
