h1 {
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

button {
  background-color: rgb(90, 5, 90);
  color: white;
  border: none;
  border-radius: 3px;
  margin: 5px;
}

button:hover {
  background-color: rgb(134, 70, 134);
}

nav {
  margin: 20px;
  justify-content: space-between;
}

span {
  border-top: 1px solid black;
  display: block;
  font-style: italic;
}

#high-scores {
  border: none;
  float: left;
  font-style: normal;
}

#time-left {
  border: none;
  float: right;
  font-style: normal;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.quiz-container {
  padding: 100px 100px 100px 100px;
}

header {
  text-align: center;
  margin-bottom: 0;
  color: black;
}

div {
  margin: auto;
  width: 700px;
}

#question-container {
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

#questions {
  font-size: 15px;
}

ul {
  list-style: none;
}


#answers {
  padding: 5px;
  margin: 5px;
}

input {
  width: 200px;
}

